body{
    background-image: url('images/chantilly.jpg');
/*   background-color: rosybrown; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #0f0f0f;    
}

.button {
    background-color: #D98880; /* Green */
    border: 2px solid #D98880;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
